[Unit]
Description=Run PiVPN Web UI client status ingestion every 2 seconds

[Timer]
OnBootSec=2s
OnUnitActiveSec=2s
AccuracySec=1s
Unit=pivpn-webui-client-ingest.service

[Install]
WantedBy=timers.target
