[Unit]
Description=Run PiVPN Web UI log ingestion every 5 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=pivpn-webui-log-ingest.service

[Install]
WantedBy=timers.target
