[Unit]
Description=Run PiVPN Web UI client status ingestion every 10 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
AccuracySec=1s
Unit=pivpn-webui-client-ingest.service

[Install]
WantedBy=timers.target
