[Unit]
Description=Run PiVPN Web UI log ingestion every 10 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
Unit=pivpn-webui-log-ingest.service

[Install]
WantedBy=timers.target
